In [25]:
expr = '''Dados de acesso do cliente Universidade dos Dados
01/02/2017 "3345.078,00"
02/02/2017 "6.088.00"
03/02/2017 "645.00"
04/02/2017 "10.876,00"'''

In [26]:
print (expr)

Dados de acesso do cliente Universidade dos Dados
01/02/2017 "3345.078,00"
02/02/2017 "6.088.00"
03/02/2017 "645.00"
04/02/2017 "10.876,00"

In [27]:
var = expr.split()

In [7]:
print (var[9])

"3.078,00"

In [28]:
val = var[9]
v1 = val.find(',')
v2 = val[1:v1:1]

In [23]:
print (v1)
print (val)
print (v2)

6
"3.078,00"
3.078

In [29]:
print ("Necessitamos do primeiro valor de acesso: " + v2)

Necessitamos do primeiro valor de acesso: 3345.078